@import('nib')
@import url('http://fonts.googleapis.com/css?family=Roboto+Slab:300,700,100,400')


_linkhovercolor = #F2BC1B
_sharelinkspx = 30px
_twitter = #66ddff
_facebook = #2266bb
_gplus = #dd4444
_tumblr = #4477aa


imported-fonts(_family, _directory, _filename, _weight, _style)
  font-family _family
  src url(_directory+_filename+'.eot')
  src url(_directory+_filename+'.eot?#iefix') format('embedded-opentype'), url(_directory+_filename+'.woff') format('woff'), url(_directory+_filename+'.ttf') format('truetype'), url(_directory+_filename+'.svg#'+_family) format('svg')
  font-weight _weight
  font-style _style

@font-face {
  imported-fonts('Plasma Social', '../fonts/', 'plasma-social', normal, normal)
}




 
[class^="plasma-icon-"]:before, 
[class*=" plasma-icon-"]:before
  font-family "Plasma Social"
  font-style normal
  font-weight normal
  speak none
  display inline-block
  text-decoration inherit
  width 1em
  margin-right .2em
  text-align center
  font-variant normal
  text-transform none
  line-height 1em
  margin-left .2em
 
.plasma-icon-gplus:before { content: '\e802'; } /* '' */
.plasma-icon-twitter:before { content: '\e800'; } /* '' */
.plasma-icon-facebook:before { content: '\e801'; } /* '' */
.plasma-icon-tumblr:before { content: '\e803'; } /* '' */



.roboto
  font-family 'Roboto Slab', sans-serif
  font-weight 300

body
  @extends .roboto
  font-size 20px

  h1,
  h2,
  h3,
  h4,
  h5,
  h6
    @extends .roboto
    font-weight 700

  a
    &:hover
      color _linkhovercolor

  blockquote
    margin-left 0
    border-left-color #DDD

  header#site-head
    background-image url('../img/header.jpg')
    background-position center
    background-repeat no-repeat
    background-attachment fixed
    background-size cover

    #site-head-content
      text-align right

      .blog-title
        font-size 5.5rem
      .blog-description
        @extends .roboto
        font-size 2.5rem

  .post
    border-bottom-width 3px
    &:after
      border-width 2px
      bottom -7px

  .post-meta
    width 200px
    text-align right
    left -220px
    top 15px

  .pagination
    display none

  .content
    .post
      border-bottom none
      .post-footer
        position relative
        border-top none
        border-bottom 3px solid #EBF2F6 
        padding-bottom 0
        margin 0
        margin-bottom 50px
        height 0px
        transition all 0.5s ease
        .share
          width 100%
          opacity 0
          margin-top -40px
          transition all 0.5s ease
          text-align right
          a
            width _sharelinkspx
            height _sharelinkspx
            margin 0px
            transition all 0.4s ease
            opacity 1
            text-decoration none
            &.plasma-icon-twitter
              &:hover
                color _twitter
            &.plasma-icon-facebook
              &:hover
                color _facebook
            &.plasma-icon-gplus
              &:hover
                color _gplus
            &.plasma-icon-tumblr
              &:hover
                color _tumblr
        &:after        
          display: block;
          content: "";
          width: 7px;
          height: 7px;
          border: 2px solid #E7EEF2;
          position: absolute;
          bottom: -7px;
          left: 50%;
          margin-left: -5px;
          background: #fff;
          -webkit-border-radius: 100%;
          -moz-border-radius: 100%;
          border-radius: 100%;
          box-shadow: #fff 0 0 0 5px;
      &:hover
        .post-footer
          padding-bottom 50px
          margin-bottom 0
          .share
            margin-top 0px
            opacity 1
      &:after
        display none
