@import('nib')
@import url('http://fonts.googleapis.com/css?family=Roboto+Slab:300,700,100,400')


_linkhovercolor = #F2BC1B

.roboto
  font-family 'Roboto Slab', sans-serif
  font-weight 300

body
  @extends .roboto
  font-size 20px

  h1,
  h2,
  h3,
  h4,
  h5,
  h6
    @extends .roboto
    font-weight 700

  a
    &:hover
      color _linkhovercolor

  blockquote
    margin-left 0
    border-left-color #DDD

  header#site-head
    background-image url('../img/header.jpg')
    background-position center
    background-repeat no-repeat
    background-attachment fixed
    background-size cover

    #site-head-content
      text-align right

      .blog-title
        font-size 5.5rem
      .blog-description
        @extends .roboto
        font-size 2.5rem

  .post
    border-bottom-width 3px
    &:after
      border-width 2px
      bottom -7px

  .post-meta
    width 200px
    text-align right
    left -220px
    top 15px

  .pagination
    display none

  &.home-template
    .content
      .post
        .post-footer
          border-top none
          padding 0
          margin 0
          .share
            top 0
            text-align right
            position relative
            width 100%